* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


body {
  background: radial-gradient(circle at top left, #f0f4ff, #dbeafe);
  font-family: 'Inter', system-ui, sans-serif;
  color: #1e293b;
  line-height: 1.6;
}